/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 29 sep. 2022, 20:22:31
    Author     : lossa
*/

.block{
    background-color:red;
    width: 600px;
    heigt: 600px;
     padding: 20 px;
    border: 20px solid blue;
    
}
.cubo{
    background-color:black;
    widht: 10px;
    heigt: 10px;
    left:auto;  
    
    
    
}
.borde{

  width:300px;
  height:100px;
  border:3px solid brown;
  border-radius:22px;
    
    
    
}